

body {
    font-family: 'Fredericka the Great', cursive;
    background-image: url("../../assets/images/hangman-background.jpg");
    background-size: 1750px 1000px;
    text-align: center;
    color: white;
}

h1 {
    color: white;
    text-align: center;
    font-size: 80px;
}

p {
    font-size: 50px;
}

